/*Project 1 - G.C. Lou*/

 * {
  margin: 0;
}

html{
  height: 100%;
}

body{ 
  font-size:16px; 
  font-family:sans-serif;
  margin: 0px;
  height:100%;
 }
h1{
  color: #333;
  font-weight: bold;
  margin-bottom:10px;
  font-family: 'Pacifico', cursive;

}
h2{
  font-size:120%;
  font-weight: bold;
  margin:3px;
}
h2.reel-rating {
    color: #c00009;
    text-align: center;
    font-weight: bold;
}
h4{
  color:#222;
  margin:0px 0px 10px 0px;
 }
h5.noRatings{
  font-weight:bold;
}
ul {
    list-style: square;
    display: block;
    margin-left:20px;
}
h2, h3, h4, h5, p{
  font-family: 'Quicksand', sans-serif;
}
p.disclaimer {
    text-align: center;
    font-size: 14px;
}
a {color:blue;}
a:hover {color:red;}
a:visited {color:purple;}
a:active {color:blue;}

.fb-btn{
  position: relative;
  text-align: center;
}
.wrap {
  min-height: 100%;
  margin-bottom: 50px; 
}
.jumbotron{
  background-color: #2f2f30;
  box-shadow: 0 10px 50px #888888;
  text-align: center;
}
.jumbotron h1,.jumbotron h2,.jumbotron h3,.jumbotron h4,.jumbotron p{
  color:#fff;}
.wrap:after {
  content: "";
  display: block;
}
.sticky-footer, .wrap:after {
  height: 60px; 
}
.sticky-footer{
  margin-top:-60px;
}
li.logo{
  list-style-type: none;
  display: inline-block;  
}
.logo img {
    height: 35px;
}
#modalBodyRatings{
  display:flex;
  justify-content: space-around;
}
#modalBodyRatings li {
    text-align: center;
    font-weight:bold;
}
.form-group{
  position:relative;
}
.errorMessage{
  display:none;
  color:#fff;
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  top: 40px;
  left: 401px;
  font-weight: bold;
  color: #ffc656;
}
.movieBox img.img-responsive:hover{
  box-shadow: 5px 5px 15px #808080;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.posterBox{
  height:500px;
}
.posterBox h4{
  position:absolute;
  bottom:0;
  margin-bottom:20px;
  color:#222;
}
.form-group{
  width:100%;
}

.ninety{
  width:90%;
}

.fifty {
  width:50%;
}

.right-five{
    margin-right:2%; 
}

.right_top_ten{
  float:right;
  margin-top:10px;
}
.right_top_ten a:hover{
  background-color: yellow;
}

.center{
  text-align: center;
}
.left{
    float:left; 
    margin:10px; 
}

.show{
  display:inline;
}

.hide{
  display:none;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-footer{
      border-top: 1px solid #a3a3a3;
}
hr{
  border-top: 1px solid #a3a3a3;
}
.modal-header{
      border-bottom: 1px solid #a3a3a3;
}
.btn-default {
    color: #333;
    background-color: #a3a3a3;
    border-color: #bcbcbc;
}

/* ====  Preloader styles ==== */
#hola{
    width: 100vw;
    height: 100vh;
    background-color: #252328;
    position: fixed;
    z-index: 999;
}
#preloader {
  position:relative;
    width: 80px;
    height: 80px;
    top: 45%;
    margin: 0 auto;
}
#preloader span {
  position:absolute;
  border: 8px solid #ffe066;
  border-top: 8px solid transparent;
  border-radius:999px;
}

#preloader span:nth-child(1){
  width:80px;
  height:80px;
  animation: spin-1 2s infinite linear;
}
#preloader span:nth-child(2){
  top: 20px;
  left: 20px;
  width:40px;
  height:40px;
  animation: spin-2 1s infinite linear;
}
@keyframes spin-1 {
  0% {transform: rotate(360deg); opacity: 1;}
  50% {transform: rotate(180deg); opacity: 0.5;}
  100% {transform: rotate(0deg); opacity: 1;}
}
@keyframes spin-2 {
  0% {transform: rotate(0deg); opacity: 0.5;}
  50% {transform: rotate(180deg); opacity: 1;}
  100% {transform: rotate(360deg); opacity: 0.5;}
}

/*velocity layout*/
.home{
  height: 212vh;
  position: relative;
  background-color: #F2F6F2;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
.home:before{
  position: absolute;
  /*width: 50%;*/
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  content: '';
  background-color: #F2F6F2;
}
.home:after{
  position: absolute;
  /*width: 50%;*/
  height: 100%;
  z-index: 10;
  top: 0;
  right: 0;
  content: '';
  background-color: #F2F6F2;
}
.animate-border{
  border: 40px solid #EDEBE6;
  transition: border .5s .2s ease;
}
.home.divide:before{
  transition: all .6s 1.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  width: 0;
}
.home.divide:after{
  transition: all .6s 1.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  width: 0;
}


@media (min-width:768px){
    .form-group #titleSearch{
    width:50%;
  }
  .img-wrapper img{
    height:375px;
  }
  .modal-content{
        background-color: #ccc;
  }
    h2.reel-rating{
    font-size:35px;
  }
}
@media (max-width:768px){
    .posterBox{
    height:285px;
    width:100%;
  }
  .img-wrapper{
    height:220px;
  }
  .btn-default{
    background-color:#ccc;
    width:100%;
    margin-top:20px;
  }
  h2.reel-rating{
    font-size:25px;
  }
  .jumbotron p{
    font-size:15px;
  }
  span.errorMessage{
    top: 100px;
    left: 55px;
  }
}
