/*Project 1 - G.C. Lou*/

 * {
  margin: 0;
}

html{
  height: 100%;
}

body{	
 	font-size:16px; 
 	font-family:sans-serif;
  line-height: 140%;
 	margin: 0px;
  height:100%;
 }
.movieBox img.img-responsive {
    height: 400px;
}
h1{
  font-size:140%;
  color: #333;
  font-weight: bold;
  margin-bottom:10px;
}
h2{
  font-size:120%;
  color: blue;
  font-weight: bold;
  margin:3px;
}

h4{
 	color:blue;
  font-size: 120%;
  margin:0px 0px 10px 0px;
 }

ul {
    list-style: square;
    display: block;
    margin-left:20px;
}

a {color:blue;}
a:hover {color:red;}
a:visited {color:purple;}
a:active {color:blue;}

/*.btn{
  	font-size:16px; 
  	background-color: green; 
  	color:white; 
  	width:auto;
  	padding:10px; 
  	margin:10px; 
  	border-radius:10px;
}

.btn:hover{
  background-color: yellow !important; 
  border:1px green solid;
}*/

.fb-btn{
  position: relative;
  text-align: center;
}
.wrap {
  min-height: 100%;
  margin-bottom: 50px; 
}

.wrap:after {
  content: "";
  display: block;
}
.sticky-footer, .wrap:after {
  height: 60px; 
}
.sticky-footer{
  margin-top:-60px;
}

footer{
position: relative;
width:100%;
font-size: 90%;
padding:5px 5px 5px 5px;
clear:both;
color:#333;
background-color: #ededed;
text-align: center;
border-top: 3px green solid;
margin-top:10px;
bottom: 0;
}

.ninety{
  width:90%;
}

.fifty {
  width:50%;
}

.right-five{
    margin-right:2%; 
}

.right_top_ten{
  float:right;
  margin-top:10px;
}
.right_top_ten a:hover{
  background-color: yellow;
}

.center{
  text-align: center;
}
.left{
    float:left; 
    margin:10px; 
}

.show{
  display:inline;
}

.hide{
  display:none;
}



/*modal bg */
.modal {
    position: fixed; 
    z-index: 5; 
    left: 0;
    top: 0;
    width: 80%; 
    height: 80%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
/*modal Content */
.modal-content {
  z-index: 2;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width:980px){
  .fifty {width:45%;}
}
@media screen and (max-width:768px){
  .fifty {width:30%;}
}

@media screen and (max-width:640px){
  .fifty {width:25%;}
}