/*Project 1 - G.C. Lou*/

 * {
  margin: 0;
}

html{
  height: 100%;
}

body{	
 	font-size:16px; 
 	font-family:sans-serif;
 	margin: 0px;
  height:100%;
 }
h1{
  color: #333;
  font-weight: bold;
  margin-bottom:10px;
  font-family:'Roboto', sans-serif;
}
h2{
  font-size:120%;
  color: blue;
  font-weight: bold;
  margin:3px;
}

h4{
 	color:#222;
  margin:0px 0px 10px 0px;
 }

ul {
    list-style: square;
    display: block;
    margin-left:20px;
}

a {color:blue;}
a:hover {color:red;}
a:visited {color:purple;}
a:active {color:blue;}

.fb-btn{
  position: relative;
  text-align: center;
}
.wrap {
  min-height: 100%;
  margin-bottom: 50px; 
}
.jumbotron{
  background-color: #2f2f30;
  box-shadow: 0 10px 50px #888888;
}
.jumbotron h1,.jumbotron h2,.jumbotron h3,.jumbotron h4,.jumbotron p{
  color:#fff;}
.wrap:after {
  content: "";
  display: block;
}
.sticky-footer, .wrap:after {
  height: 60px; 
}
.sticky-footer{
  margin-top:-60px;
}

footer{
position: relative;
width:100%;
font-size: 90%;
padding:5px 5px 5px 5px;
clear:both;
color:#333;
background-color: #ededed;
text-align: center;
border-top: 3px green solid;
margin-top:10px;
bottom: 0;
}

.movieBox img.img-responsive:hover{
  box-shadow: 5px 5px 15px #808080;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.posterBox{
  height:500px;
}
.posterBox h4{
  position:absolute;
  bottom:0;
  margin-bottom:20px;
  color:#222;
}
.form-group{
  width:100%;
}

.ninety{
  width:90%;
}

.fifty {
  width:50%;
}

.right-five{
    margin-right:2%; 
}

.right_top_ten{
  float:right;
  margin-top:10px;
}
.right_top_ten a:hover{
  background-color: yellow;
}

.center{
  text-align: center;
}
.left{
    float:left; 
    margin:10px; 
}

.show{
  display:inline;
}

.hide{
  display:none;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-footer{
      border-top: 1px solid #a3a3a3;
}
hr{
  border-top: 1px solid #a3a3a3;
}
.modal-header{
      border-bottom: 1px solid #a3a3a3;
}
.btn-default {
    color: #333;
    background-color: #a3a3a3;
    border-color: #bcbcbc;
}
@media (min-width:768px){
  .form-group #titleSearch{
  width:50%;
}
.img-wrapper img{
  height:400px;
}
.modal-content{
      background-color: #ccc;
}

}

@media (max-width:768px){
  .posterBox{
  height:285px;
  width:100%;
}
.img-wrapper img{
  height:250px;
}
.btn-default{
  background-color:#ccc;
  width:100%;
  margin-top:20px;
}
}
